.menupage-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 50px;
    margin-bottom: 100px;
}

.items-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin-left: 200px;
    margin-right: 50px;
}

.cart-container{
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 4px 4px rgb(245, 245, 245);
    border: 0.1px solid rgb(247, 247, 247);
    margin-right: 210px;
    width: 365px;
    height: fit-content;
    padding: 30px;
    border-radius: 20px;
}

.no-data{
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-data h1{
    font-size: 20px;
    font-weight: 600;
}

@media only screen and (max-width:667px){
    .menupage-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
    }
    .items-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 45px;
        margin: 0px 15px;
        padding: 20px;
        width: 230px;
    }
    .cart-container{
        background-color: rgb(255, 255, 255);
        margin: 0px 30px;
        width: 265px;
    }
}